@tailwind components;

@layer components {
    .banner {
        .slick-dots {
            @apply bottom-3;
            li {
                button::before {
                    @apply text-white text-base;
                };
            };
        };
    };
};