.movie-cover-container {
    height: 400px;
    overflow: hidden;
};
.movie-cover {
    width: 100%;
    height: auto;
    background-size: cover;
};
.movie-title-container {
    height: 50px;
};
.movie-title {};

.movie-tab-detail-movie-page {
    .movie-tab-item {
        font-size: 1rem;
    };
    .ant-tabs-nav-wrap {
        @apply flex justify-center;
    };
    .ant-tabs-nav-list {
        @apply my-2;
        .ant-tabs-tab {
            @apply w-full flex justify-center items-center;
            @apply bg-white;
            @apply w-32;
            @apply md:w-40;
            @apply lg:w-40;
            @apply rounded;
            @apply shadow-lg;
            @apply duration-500;
            .ant-tabs-tab-btn {
                @apply text-black;
                @apply font-bold;
            };
        };
        .ant-tabs-tab-active {
            @apply bg-rose-500;
            .ant-tabs-tab-btn {
                @apply text-white;
            };
        };
    };
    .ant-tabs-ink-bar {
        @apply bg-transparent;
    };
    .ant-tabs-content-holder {
        @apply border-transparent;
    };
    .ant-tabs-tab:hover {
        @apply bg-rose-500;
        .ant-tabs-tab-btn {
            @apply text-white;
        };
    };
    .ant-tabs-nav::before {
        @apply border-b-transparent;
    };
};