@tailwind components;

@layer components {
    .cum-rap-danh-sach-phim-container-main-div {
        .ant-tabs-nav-more {
            @apply hidden;
        };
        .ant-tabs-nav-operations {
            @apply hidden absolute;
        };
        .ant-tabs-nav-list {
            @apply w-full max-w-full border-b border-gray-300 overflow-x-scroll;
            @apply md:w-52 md:h-96 md:max-h-full md:border-none md:overflow-y-scroll md:overflow-x-hidden;
            @apply lg:w-96 lg:h-96 lg:max-h-full lg:border-none lg:overflow-y-scroll lg:overflow-x-hidden;
            .ant-tabs-tab {
                @apply flex items-start mx-auto w-full;
                @apply md:w-full md:border-solid md:border-b md:border-b-gray-300;
                @apply lg:w-full lg:flex lg:justify-start lg:py-2 lg:px-2 lg:border-solid lg:border-b lg:border-b-gray-300;
                @apply bg-transparent;
                @apply shadow-none;
                @apply duration-500;
                @apply rounded-none;
                .ant-tabs-tab-btn {
                    @apply text-gray-700;
                    @apply font-normal;
                    @apply text-center;
                    @apply md:w-full;
                    @apply lg:w-full;
                };
            };
            .ant-tabs-tab-active {
                @apply bg-transparent;
                .ant-tabs-tab-btn {
                    @apply text-gray-700;
                };
            };
        };
        .ant-tabs-ink-bar {
            @apply bg-rose-500;
        };
        .ant-tabs-tab:hover {
            @apply bg-gray-400;
            .ant-tabs-tab-btn {
                @apply text-white;
            };
        };
        .ant-tabs-nav::before {
            @apply border-transparent;
        };
    };
};