@tailwind components;

@layer components {
    .booking-ticket-box-main-div {
        .ant-tabs-nav-list {
            @apply my-2;
            @apply lg:w-11/12 lg:mx-auto lg:flex lg:justify-center;
            .ant-tabs-tab {
                @apply lg:w-40 lg:flex lg:justify-center lg:items-center;
                @apply bg-white;
                @apply rounded;
                @apply shadow-lg;
                @apply duration-500;
                .ant-tabs-tab-btn {
                    @apply text-gray-700;
                    @apply font-bold;
                };
            };
            .ant-tabs-tab-active {
                @apply bg-gray-400;
                .ant-tabs-tab-btn {
                    @apply text-white;
                };
            };
        };
        .ant-tabs-ink-bar {
            @apply bg-transparent;
        };
        .ant-tabs-tab:hover {
            @apply bg-gray-400;
            .ant-tabs-tab-btn {
                @apply text-white;
            };
        };
        .ant-tabs-nav::before {
            @apply border-b-transparent;
        };
    };
};